 .cardcontainer:nth-child(3n+1){
            clear:both;
        }
 .w3-modal{
     display:block;
 }
 .cardContent{
       position:relative;
      min-height:160px;
      border-left:1px dashed #b9b6b6;
      border-right:1px dashed #b9b6b6;
 }
        .clearfix::after {
            display: block;
            clear: both;
            content: " ";
        }
        .iconBar{
            position:absolute;
            bottom:8px;
            right:8px;
        }
        .veg,.nonveg,.wifi{
            width:25px;
            height:25px;
            display:inline-block;    
            margin:0px;       
        }
  
        .nonveg{
             background:url('images/vegnon.jpeg') 0 0;
        }
        .veg{
             background:url('images/vegnon.jpeg') 25px 0;
        }
        /*.wifi{
            background:url('images/icon-wifi-128.png') 0 0;
        }*/

        .ccdIcon {
            width: 130px;
            height: 156px;
            position: absolute;
            top: 0 px;
            left: 10%;
            z-index: 1;
        }
        .About{
            margin-left:270px;
        }
        .w3-navbar {
            position: relative;
            top: 25%;
            width: 100%;
            background-color: #964a9c;
        }
        .liColor{
            color:white;
        }
        .liColor:hover {
            background-color: white;
            color: #e62026;
        }
        body {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }
        .container{
            position:relative;
           
        }
        .headMenu{
            height:140px;
        }
        .inputContainer{
            margin-top:6%;
        }
        .w3-input{
            width:100%;
        }
    .search {
        display: inline-block;
    }
    .btnForSite{
        text-align:right;
        padding:5px;
    }




@media screen and (min-width: 600px){
        .w3-input{
            width:50%;
            margin-left:25%;
        }
        .inputContainer{
            margin-top:0px;
        }
}